$darkBlue: rgba(113, 148, 212, .7);
$lightBlue: rgba(198, 205, 247, 1);
$brown: rgba(217, 164, 152, 1);
$pink: rgba(230, 160, 196, 1);
$black: rgba(0, 0, 0, .7);
$mountainBack: url(../images/purple-mountain.jpg);
$treesBack: url(../images/hillside-hotel.jpg);