/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'login';
@import 'interface';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ibarra Real Nova', serif;
}

html {
  height: 100%;
}

body {
  background: $treesBack;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}