/* This is an example of using Sass, otherwise plain CSS works too*/
$darkBlue: rgba(113, 148, 212, .7);
$lightBlue: rgba(198, 205, 247, 1);
$brown: rgba(217, 164, 152, 1);
$pink: rgba(230, 160, 196, 1);
$black: rgba(0, 0, 0, .7);
$mountainBack: url(../images/purple-mountain.jpg);
$treesBack: url(../images/hillside-hotel.jpg);

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ibarra Real Nova', serif;
}

html {
  height: 100%;
}

body {
  background: $treesBack;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Login page css move to separate file
.login {
  background: linear-gradient($darkBlue, $darkBlue);
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%; 
}

.login-img {
  height: 50%;
  width: 50%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 80%;
}

.login-username,
.login-password,
.form-input-user {
  font-size: 1.5em;
  height: 25%;
  border: 1px solid $lightBlue;
  color: $brown;
  border-radius: 0.1rem;
  background: transparent;
  transition: box-shadow 300ms;
  padding-left: 5%;

  &:focus {
    outline: none;
    border: none;
    box-shadow: 0.1rem 0.3rem 0.6rem $lightBlue;
  }
}

::placeholder {
  color: $lightBlue;
}

.login-submit {
  color: $lightBlue;
  font-size: 2em;
  text-decoration: none;
  background: transparent;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;

  &:hover {
    color: $brown;
    transition: all 0.4s ease 0s;
  }
}

.main {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  background: linear-gradient($black, $black);
}

.nav {
  height: 15%;
  width: 100%;
  // background: linear-gradient($darkBlue, $darkBlue);
  display: flex;
  flex-direction: row;
}

.nav-btn {
    width: 30%;
    height: 100%;
    font-size: 2em;
    text-decoration: none;
    background: transparent;
    border: none;
    color: $lightBlue;
    border-bottom: 3px solid $brown;
    background: linear-gradient($darkBlue, $darkBlue); 
    
    &:hover {
        background: linear-gradient($black, $black);
        border: none;
    }
}

.nav-logo {
  width: 10%;
  height: 100%;
  border-bottom: 3px solid $brown;
  background: linear-gradient($darkBlue, $darkBlue); 
}

.dash-card-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}

.dash {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.dash-card {
  background: linear-gradient($lightBlue, $lightBlue); 
  height: 15%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

.room-card {
  background: linear-gradient($lightBlue, $lightBlue); 
  height: 15%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}

.dash-img {
  height: 80%;
  width: 15%;
}

.dash-rewards,
.dash-userInfo {
  color: $lightBlue;
}

.dash-form {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  label,
  h3 {
    color: $lightBlue;
    font-size: 1.5em;
  }

  .dash-input-date,
  .dash-select {
    height: 40%;
    width: 35%;
    font-size: 1em;
    border-radius: 2%;
  }
}

.dash-results {
  height: 85%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    width: 80%;
    height: 80%;
    color: $lightBlue;
  }
}
